
# Cloudflare R2
CLOUDFLARE_ACCOUNT_ID= xxxxx
CLOUDFLARE_ACCESS_KEY_ID= xxxxx
CLOUDFLARE_SECRET_ACCESS_KEY=xxxxx
CLOUDFLARE_BUCKET_NAME=xxxxx
CLOUDFLARE_PUBLIC_DOMAIN=xxxxx


# PostgreSQL Connection
DB_NAME= xxxxx
DB_USER= xxxxx
DB_PASSWORD= xxxxx
DB_HOST=localhost
DB_PORT=5434

#openai apikey
OPENAI_API_KEY=xxxxx
OPENAI_API_BASE=https://openrouter.ai/api/v1